<h1>Bem vindo ao cadastro de animais do ThayZoo</h1>
  <div>
    <label for="id">ID do animal: </label><br>
    <input type="number" id="id" name="id" [(ngModel)]="animal.id">
  </div>
  <div>
    <br><input type="radio" id="vertebrados" name="vertebrados" [value]="true" [(ngModel)]="animal.isVertebrate" (change)="limparCampos()">
    <label for="vertebrados">Vertebrados</label>
    <input type="radio" id="invertebrados" name="invertebrados" [value]="false" [(ngModel)]="animal.isVertebrate" (change)="limparCampos()">
    <label for="invertebrados">Invertebrados</label>
  </div>
  <div *ngIf="animal.isVertebrate">
    <br><label for="class">Classe do animal: </label><br>
    <select name="class" id="class" [(ngModel)]="animal.class">
      <option *ngFor="let classe of classes" [ngValue]="classe.nome">{{ classe.nome }}</option>
    </select>
  </div>
  <div *ngIf="!animal.isVertebrate">
    <br><label for="filo">Filo do animal: </label><br>
    <select name="filo" id="filo" [(ngModel)]="animal.phylum">
      <option *ngFor="let filo of filos" [ngValue]="filo">{{ filo.nome }}</option>
    </select>
  </div>
  <div *ngIf="!animal.isVertebrate && animal.phylum.grupos && animal.phylum.grupos.length > 0" >
    <br><label for="group">Grupo do filo: </label><br>
    <select name="group" id="group" [(ngModel)]="animal.group">
      <option *ngFor="let group of animal.phylum.grupos" [ngValue]="group" >{{ group }}</option>
    </select>
  </div>
  <div>
    <br><label for="species">Espécie do animal: </label><br>
    <input type="text" id="species" name="species" [(ngModel)]="animal.species">
  </div>
  <div>
    <br><label for="color">Cor do animal: </label><br>
    <input type="text" id="color" name="color" [(ngModel)]="animal.color">
  </div>
  <div>
    <br><button type="button" (click)="cadastrarAnimal()">Cadastrar</button>
  </div>